p{
font-family: monospace;
font-size:24px;
}

ol {
font-family: monospace;
font-size: 20px;
}

h1{
font-family: monospace;
font-size: 40px;
font-weight: bolder;
}

ul{
font-family: monospace;
font-size: 20px;
}

