.tableIndent {
             padding-left: 25px;
}

table {
  border: 3px solid GoldenRod;
}

th, td {
  border-bottom: 2px solid GoldenRod;
}

body {
  background-color: red;
  color: Gold;
}

h1, h2, a:hover, #table-title {
  color: Khaki;
}

h1 {
  text-align: center;
  font-family: "Comic Sans MS";
}

h2 {
  font-family: "Comic Sans MS";
}

input {
  color: red;
  background-color: gold;
  border-width: 0px;
}

a {
  color: GoldenRod;
}

#table-title {
  font-size: 25px;
}